<div class="box">
  <img src="assets\table.gif">
  <div class="chk">

  </div>
  <div class="number">
    Nr. 1 <br/>
    <button type="button" class="orderButton" onclick="" key="serve">Serve selected drinks</button>
    <button type="button" class="orderButton" onclick="" key="undoServe">Undo order for this Table</button>
    <button type="button" class="orderButton" onclick="" key="clean">Clean Table</button>
  </div>
</div>

<div class="box">
  <img src="assets\table.gif">
  <div class="chk">
  </div>
  <div class="number">
    Nr. 2 <br/>
    <button type="button" class="orderButton" onclick="" key="serve">Serve selected drinks</button>
    <button type="button" class="orderButton" onclick="" key="undoServe">Undo order for this Table</button>
    <button type="button" class="orderButton" onclick="" key="clean">Clean Table</button>
  </div>
</div>

<div class="box">
  <img src="assets\table.gif">
  <div class="chk">
  </div>
  <div class="number">
    Nr. 3 <br/>
    <button type="button" class="orderButton" onclick="" key="serve">Serve selected drinks</button>
    <button type="button" class="orderButton" onclick="" key="undoServe">Undo order for this Table</button>
    <button type="button" class="orderButton" onclick="" key="clean">Clean Table</button>
  </div>
</div>
