
<div class="box">
<!--   <div *ngIf="(table$ | async) == 1; else loading">
  shdbsbd
  </div>
 <ng-template #loading>
  Loading stuff...
</ng-template> -->
  <img src="assets\table.gif">
  <form [formGroup]="form" (ngSubmit)="submit()"><!--this form is different from the one in menu.component, which uses NgForm (update: doesnt use it anymore)-->
    <div class="chk">
    <!--  product 1 -- 20<input type="checkbox"/><br/>
      product 2 -- 24<input type="checkbox"/><br/> -->

      <div *ngIf="(table$ | async) == 1" >
        <div formArrayName="orders" *ngFor="let item of selectedItems$ | async; let i = index">
          {{item.prod}} -- {{item.price}} kr
          <input type="checkbox" [formControlName]="i"/>
        </div>
      </div>
    </div>
    <div class="number">
      Nr. 1 <br/>
      <button [disabled]="(table$ | async) != 1" type="submit" class=" btn-info btn orderButton" onclick="">Serve selected drinks</button>
      <button [disabled]="(table$ | async) != 1" type="button" class="btn-info btn orderButton" onclick="">Clean Table</button>
    </div>
  </form>

</div>

<div class="box">
  <img src="assets\table.gif">
  <div class="chk">
  </div>
  <div class="number">
    Nr. 2 <br/>
    <button [disabled]="(table$ | async) != 1" type="button" class=" btn-info btn orderButton" onclick="" key="serve">Serve selected drinks</button>
    <button [disabled]="(table$ | async) != 1" type="button" class="btn-info btn orderButton" onclick="" key="clean">Clean Table</button>
  </div>
</div>

<div class="box">
  <img src="assets\table.gif">
  <div class="chk">
  </div>
  <div class="number">
    Nr. 3 <br/>
    <button [disabled]="(table$ | async) != 1" type="button" class=" btn-info btn orderButton" onclick="" key="serve">Serve selected drinks</button>
    <button [disabled]="(table$ | async) != 1" type="button" class="btn-info btn orderButton" onclick="" key="clean">Clean Table</button>
  </div>
</div>
