
<div class="wrapper mt-4">
  <div class="leftPanel" droppable (onDrop)="ItemDropBack($event)">
    <div draggable [dragData]="prod" *ngFor="let prod of prods$ | async" class="d-inline-block card cardLeft text-white bg-info mb-3">
      <img class="card-img-top" [src]="prod.thumb" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{prod.prod}}</h5>
        <p class="card-text">{{prod.dept}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{prod.price}}</small>
      </div>
    </div>
  </div>

  <div class="sticky card border-info mb-3">
    <div class="card-header text-info text-center">
      <div *ngIf="auth.isLoggedIn() && !auth.userInfo().admin">
        Add to this cart by dragging and dropping an item
      </div>
      <div *ngIf="!auth.isLoggedIn()">
        <button class="btn-info btn" routerLink="/login">Log in</button> to make an order.
      </div>
    </div>
    <div droppable (onDrop)="ItemDropInBox($event)" class="card-body text-info">
       <div draggable [dragData]="item" *ngFor="let item of droppedItems$ | async" class="d-inline-block card cardRight text-white bg-info mb-3" >
          <img class="card-img-top" [src]="item.thumb" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.prod}}</h5>
            <p class="card-text">{{item.dept}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{item.price}}</small>
          </div>
          <div hidden>
            {{suma(item.price)}}
          </div>
        </div>
    </div>
    <div class="card-footer">
      <div class="text-center">
        <!-- Total: {{sum()}} -->
      </div>
      <div class="text-center">
        <button type="button" role="button" class="bt btn btn-outline-info" (click)="undo()">Undo</button>
        <button *ngIf="auth.isLoggedIn() && !auth.userInfo().admin"  type="button" role="button" class="bt btn btn-outline-info">Complete Order</button>
        <button type="button" role="button" class="bt btn btn-outline-info" (click)="redo()">Redo</button>
      </div>
    </div>
  </div>
</div>
